@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}
.header {
  background-color: #454546;
  padding: 1% 0;
  width: 70%;
  margin: 0 auto;
  border-radius: 0 0 16px 16px;
}

h1 {
  color: white;
  text-align: center;
  font-weight: bold;
}
.container {
  background-color: #ffc340;
  padding-bottom: 2%;
  border-radius: 1rem;
  margin: 2% auto;
  width: 30%;
  padding: 3%;
}

form .column {
  display: flex;
  gap: 30px;
}
.column div {
  width: 50%;
}
.column div label{
  display: block;
  width: 100%;
  margin-bottom: 6px;
  color: #605e5e;
}
.column div select{
  display: block;
  width: 100%;
  font-size: inherit;
  padding: 10px;
  outline: none;
  border: 0px solid;
  border-radius: 6px;
  color: gray;
}
.column div input{
  display: block;
  width: 100%;
  font-size: inherit;
  padding: 10px;
  outline: none;
  border: 0px solid;
  border-radius: 6px;
  color: gray;
}

.btnSubmit input[type="submit"]{
  display: block;
  width: 100%;
  font-size: inherit;
  padding: 7px;
  background-color: #fff;
  outline: none;
  border: 2px solid #fff;
  border-radius: 6px;
  margin-top: 20px;
  color: #5e5e5e;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.btnSubmit input[type="submit"]:hover{
  background-color: #ff9800;
  color: #fff;
}
.mensaje {
  background-color: #454546;
  padding: 1% 0;
  width: 70%;
  margin: 0 auto;
  border-radius: 16px 16px 0 0;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.error {
  padding: 11px 0 0;
  text-align: center;
  color: red;
  margin: 0 auto;
}
.resultado {
  padding-bottom: 3%;
}

@media only screen and (max-width: 768px){
	form .column {
    flex-wrap: wrap;
  }
  .column div {
    width: 100%;
  }
  .container {
    width: 60%;
  }
}

